@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&family=Roboto:wght@300;400;500;700&display=swap');




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.section__title{
    color: #001A49;
    text-align: center;
    font-family: 'Roboto';
    font-size: 30px;
    font-weight: 700;
    line-height: 85px;
}
.plan{
    margin-bottom: 130px;
}
.plan_flex-wrapper{
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
}
.plan__card{
    width: 580px;
    height: 172px;
    border-radius: 21px;
    background-color: #4e4e4e1a;
    padding-top: 36px;
    padding-left: 46px;
    padding-bottom: 25px;
    display: flex;
}
.plan__card:nth-child(2n){
    margin-left: 30px;
}

.card_margin{
    margin-bottom: 40px;
}
.card__img{
    border-radius: 50%;
    padding: 15px 25px;
    border: 4px solid #001A49;
    margin-right: 30px;
}
.card__img2, .card__img3{
    margin-right: 30px;
}
.card__img2{
    border: #001A49 solid 4px;
    border-radius: 50%;
    padding: 10px 15px;
}
.card__img3{
    border: #001A49 solid 4px;
    border-radius: 50%;
    padding: 12px 15px;
}

.card__title{
    width:30%;
    color: #001A49;
    font-family: 'Roboto';
    font-size: 22px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 10px;
}
.card__subtitle{
    width: 80%;
    color: #001A49;
    font-family: 'Mulish';
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.title_width{
    width: 80%;
}
.title_width2{
    width: 40%;
}
.title_width3{
    width: 60%;
}
.subtitle_width{
    width: 95%;
}
.fa-solid{
    border:4px solid #001A49;
    border-radius: 50%;
    padding: 15px 20px;
    margin-right: 30px;
}

@media screen and (max-width:320px) {
    .container{
        width: 300px;
    }
    .plan_flex-wrapper{
        display: block;
        padding-top: 20px;
    }
    .section__title{
        font-size: 26px;
    }
    .plan__card{
        padding-top: 16px;
        padding-left: 26px;
        padding-bottom: 15px;
        width: 300px;
        height: 151px;
    }
    .card__title{
        width:30%;
        font-size: 15px;
        line-height: 19.07px;
    }
    .card__subtitle{
        font-size: 10px;
        line-height: 15.26px;
    }
    .card__img{
        padding: 15px 18px;
        border: 2.5625px solid #001A49;
        margin-right: 10px;
        width: 60px;
        height: 65px;
    }
    .card__img2, .card__img3{
        margin-right: 30px;
    }
    .card__img2{
        border: #001A49 solid 2.5625px;
        padding: 10px 15px;
    }
    .fa-solid{
        border: 2.5625px solid #001A49;
        padding: 10px 15px;
        font-size: 30px;
    }
    .title_width{
        width: 90%;
    }
    .title_width2{
        width: 50%;
    }
    .title_width3{
        width: 60%;
    }
    .subtitle_width{
        width: 95%;
    }
    .plan__card:nth-child(2n){
        margin-left: 0px;
    }
    .card_margin{
        margin-bottom: 20px;
    }
}